body {

  background-color: #F8F8F8;




}

h1 {
  font-family: 'Lobster';font-size: 40px;
  text-align: center;
  line-height: 4px;


}







/*.flex-container > div {
  background-color:white;
  padding: 30px;




} */



.flex-container {
  display: flex;
  background-color:#F8F8F8;
  flex-wrap: wrap;
  justify-content: center;



}








h2 {
  font-size: 18px;
  text-align: center;
  color: #808080;
  font-weight: 600;
  letter-spacing: .5px;

}

a {
  color:#6495ED;




}

.instapic {
  background-image:  url("../img/instagramimg.jpg");
  width: 300px;
  background-repeat: no-repeat;
  box-sizing: border-box;

}

.rightbox {
  background-color: white;
  padding: 20px;
  border: 1px solid #A0A0A0;




}



.login {

    background-color: #1E90FF;
    opacity: .7;
    border: none;
    color: white;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;

}

.signup {

    background-color: #1E90FF;
    opacity: .7;
    border: none;
    color: white;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;

}

p {
  color: #808080;
  text-align: center;
  font-size: 15px;
  letter-spacing:0px;



}

input[type=text] {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

input[type=submit] {
    width: 100%;
    background-color: #ccc;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.signup {
  text-align: center;




}

.leftbox {
  background-color:#F8F8F8;




}
